body {
    background-color: blanchedalmond;
}

img {
    width: 750px;
    height: 100px;
}

h1 {
    background-color: wheat;
}

.ciudad {
    background-color: beige;

}

.comida {
    background-color: sandybrown;
}

#MiEncabezado {
    text-align: center;
    font-size: 200%;
    background-color: tomato;
}

#bibliografia {
    background-color: steelblue;
    color:whitesmoke;
}
