body {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightcyan;
}
div {
    background-color: cadetblue;
}

h1, h2 {
    background-color: aquamarine;
}
img {
    width: 200px;
    height: 200px;
}
#arregloKipe {
    width: 200px;
    height: 250px;
}

.ClaseIngredientes {
    border: lightgreen solid 5px;
}